
@{
    ViewBag.Title = "Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Balance</h2>
<div style="display:flex">
    <div>
        <h1 style="color:red">My Balance:</h1>
    </div>
    <div>
        <h2 style="margin-bottom:20px">@Model.Balance1</h2>
    </div>

</div>
